html, body {
    background-color: rgb(28, 46, 46);
    margin: 1%;
    width: 98%;
    height: 390px;
}

.header {     
  background-color: rgb(28, 46, 46);
  border: rgb(0, 255, 179) 10px solid;
  margin-bottom: 2%;
  height: 380px;    
  text-align: center;
  font-size: 100px;
  font-family: lucida console;
  color: rgb(0, 255, 179);    
}

.section1 {
    background-color: rgb(28, 46, 46);
    border: rgb(0, 255, 179) 10px solid;
    float: left;
    width: 1500px;
    height: 300px;
}

.secttitle1 {
    padding-left: 4%;
    font-size: 50px;
    font-family: lucida console;
    color: rgb(0, 255, 179);
}

.sectcontent1 {
    padding-left: 4%;
    font-size: 20px;
    font-family: lucida console;
    color: rgb(0, 255, 179);
    height: 100px;
    padding-bottom: 20%;
}

.nav {
    background-color: rgb(28, 46, 46);
    border: rgb(0, 255, 179) 10px solid;
    padding-bottom: 10%;
    float: right;
    width: 15%;
    height: 200px;
    color: rgb(0, 255, 179);
}

.pagelist {
    padding-left: 9.6%;
    padding-top: 0.9%;
    font-size: 50px;
    color: rgb(0, 255, 179);
    font-family: lucida console;
}